
:root{
    --Softred: hsl(7, 99%, 70%)
    --Yellow: hsl(51, 100%, 49%)
    --Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
    --Dark blue (photography text): hsl(198, 62%, 26%)
    --Dark moderate cyan (footer): hsl(168, 34%, 41%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    height: 80vh;
    background-image: url("./images/desktop/image-header.jpg");
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
}

.menu{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;    
}

.menu span{
    margin-right: 20px ;
    cursor: pointer;
}

.contact{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 8px 30px;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}

.contact:hover{
    background-color: antiquewhite;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 70px;
    flex-grow: 1;
    color: white;
    font-weight: bold;
}

.arrow{
    margin-top: 60px;
}

.section1, .section2{
    display: flex;
}

.section1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .left{
     display: flex;
     align-items: center;
     justify-content: center;
}

.section1 .text-container{
    width: 70%;
}

.left h1{
    font-size: 40px;
    margin-bottom: 8px;
}

.left p{
    line-height: 1.8;
    color: #848391;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}

.left .button{
     display: flex;
     align-items: center;
     cursor: pointer;
}

.left div img{
    width: 150px;
}

.left,.right{
    flex: 1;
}

.section12{
    flex-direction: row-reverse;
}

.left img , .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-image{
    width: 80px;
    height: 80px;
}

.client-image img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testinomials{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffbf8;
    padding: 50px;  
}

.testinomials h1{
    color: #a0a1a2;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.clients{
    display: flex;
    justify-content: space-between;
}

.clients .client{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0.3;
}

.client .client-image{
    margin-bottom: 30px;
    text-align: center;
}

.client .details{
    text-align: center;
}

.client p{
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.8;
    color: #848391;
    font-family: Arial, Helvetica, sans-serif;
}

.client h4{
    color: #a0a1a2;
    margin-top: 8px;
}

.examples{
    display: flex;
}

.examples div{
    flex: 0.25;
}

.examples img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    background-color: #90d4c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.footer .logo{
    color: #2d7465;
}

.footer-navigation{
    margin-top: 50px;
    color: #4f9485;
    font-weight: bold;
}

.footer-navigation span{
    padding: 8px;
    cursor: pointer;
}

.footer-navigation span:hover{
    color: #207465;
}

.footer .social-media{
    margin-top: 30px;
}

.social-media img{
    padding: 4px;
}

@media(max-width: 768px){

    .banner{
        /* height: auto; */
    }

    .main{
        text-align: center;
    }

    .section1{
        flex-direction: column-reverse;
        height: auto;
    }

    .section1 .left{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .section1 .button{
        display: flex;
        justify-content: center;
    }

    .section2{
        flex-direction: column;
        height: auto;     
    }

    .clients{
        flex-direction: column;
        height: auto;
    }

    .client{
        margin-top: 50px;
    }

    .examples{
        flex-wrap: wrap;
    }

    .examples div{
        flex: 0.5;
        flex-basis: 50%;
    }
}
